body {
    overflow-x: hidden;
    background-color: #f5d9d5;
}

#mainNavbar .navbar-brand {
    font-family: 'poppins', 'sans-serif';
    font-weight: 900;
    font-size: 25px;
    padding-right: 30px;
    color: rgb(123, 40, 6);
}


#mainNavbar.navbar {
    background-color: rgba(141, 47, 7, 0.464);
    font-family: 'roboto', 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;

}

#mainNavbar:hover {
    background-color: rgba(141, 47, 7, 0.636);
    transition: ease-in-out 0.3s;
}


#mainNavbar .collapse .nav-link {
    color: rgb(255, 255, 255);
}

#mainNavbar .collapse .nav-link:hover {
    color: rgb(250, 200, 200);
}


h2 {
    color: #ea1c2c;
}

p {
    color: rgb(118, 66, 4);
    padding-bottom: 20px;
}

.content strong {
    padding-left: 50px;
}

#lastSec {
    font-weight: 700;
    font-size: 1.1rem;
}

.footer-btn {
    border: none;
    width: 50px;
    height: 50px;
    background-color: inherit;
    border-radius: 30%;
    position: absolute;
    top: -18px;
    right: 18px;
    transform: rotate(45deg);
    font-size: 20px;
    font-weight: 900;
}

.footer-btn span {

    /* display: inline-block; */
    transform: rotate(45deg);
    position: absolute;
    transform-origin: center;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(45deg);
    text-decoration: none;
    color: #f5d9d5;

}

/* new code  */







footer {
    padding: 20px;
    position: relative;
    color: blanchedalmond;
    background-color: #7d0c0c;
}